.catalog__title {
  padding-top: 70px;
  padding-bottom: 75px;
  margin-top: 0;
  margin-bottom: 30px;

  font-size: @body-font-size + 12px;
  line-height: 30px;
  text-align: center;

  background-color: @footer-background-color;
}

.catalog__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 30px;
  padding-right: 30px;

  list-style: none;
}

.catalog__item {
  position: relative;

  &--image {
    margin-top: 0;
    margin-bottom: 0;
  }

  &--title,
  &--text,
  &--price {
    margin-left: 28px;
    margin-right: 28px;
  }

  &--title {
    margin-top: 22px;
    margin-bottom: 6px;

    font-size: @body-font-size + 2px;
    line-height: 24px;

    color: @primary-text-color;
  }

  &--text {
    margin-top: 5px;
    margin-bottom: 0;

    font-size: @body-font-size - 2px;
    line-height: 30px;

    color: @primary-text-color;
  }

  &--price {
    position: relative;

    margin-top: 43px;
    margin-bottom: 60px;
  }

  &--icon {
    ::before {
      content: url("../img/icon-cart.svg");
      position: absolute;

      display: table;
      width: 35px;
      height: 37px;
      top: 0;
      left: 91%;

      background-size: 20px 19px;
      background-repeat: no-repeat;
      cursor: pointer;
      opacity: 0.2;
    }
  }
}
