.contacts {
  margin-left: 30px;
  margin-right: 30px;
}

.contacts__title {
  font-size: @body-font-size + 3px;
  line-height: 30px;
}

.contacts__email {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  padding-right: 3px;
}

.contacts__address {
  display: flex;
  margin-top: 34px;

  line-height: 30px;

  &--value {
    display: block;
    width: 150px;
    padding-left: 32px;
    padding-bottom: 22px;
  }
}
