.copyright {
  padding-bottom: 23px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: @footer-background-color;
}

.copyright__link {
  position: relative;
  display: block;
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 23px;

  .font(@font-regular; @font-bold; bold);
  font-size: @body-font-size + 4px;
  line-height: 18px;

  color: @primary-text-color;
}

.copyright__link svg {
  position: absolute;
  display: block;
  top: -15%;
  margin-left: 195px;
}

.copyright__text {
  margin-left: 38px;
  margin-right: 25px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: @tablet-width) {
  .copyright {
    position: absolute;
    top: 92.2%;
    left: 61%;
  }
}
