.page-footer__copyright {
  display: block;
  padding-top: 23px;
  padding-bottom: 23px;
  background-color: @footer-background-color;
}

.copyright {
  margin-top: 0;
  margin-bottom: 0;
}

.copyright__link {
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 23px;
  padding-bottom: 23px;
  width: 100px;
}

.copyright__link--icon {
  width: 27px;
  height: 34px;

  background-image: url("../img/htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: right;
}
