.data-person__list {
  margin-left: -3px;
  margin-bottom: 23px;
  padding-left: 0;
  padding-right: 0;

  list-style: none;
}

.data-person__option {
  margin-top: 24px;

  .font(@font-regular; @font-bold; bold);
  font-size: @body-font-size + 2px;
  line-height: 18px;
}

.data-person__input {
  width: 260px;
  margin-top: 15px;
  margin-bottom: -2px;
  padding-bottom: 17px;

  font-size: @body-font-size + 2px;
  line-height: 18px;

  border: none;
  border-bottom: 2px solid @primary-text-color;

  &--phone {
    position: absolute;
    top: 0%;
    left: 88%;

    width: 25px;
    height: 24px;

    border: none;
    opacity: 0.2;
  }

  &--email {
    position: absolute;
    top: 0%;
    left: 85%;

    width: 42px;
    height: 31px;

    border: none;
    opacity: 0.2;
  }
}

.data-person__input-phone,
.data-person__input-email {
  margin-left: -3px;
  margin-top: 17px;
  margin-bottom: 23px;
}

@media (min-width: @tablet-width) {
  .data-person__input {
    width: 356px;
    margin-bottom: -2px;
    margin-left: 18px;
    padding-bottom: 15px;
    padding-left: 17px;

    font-size: @body-font-size + 4px;

    &--firstname {
      width: 408px;
    }

    &--phone {
      top: 0%;
      left: 60%;
    }

    &--email {
      top: 0%;
      left: 60%;
    }
  }

  .data-person__input-phone,
  .data-person__input-email {
    background-color: @footer-background-color;
  }

  .data-person__list {
    width: 497px;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .data-person__option {
    margin-top: 0;
    margin-bottom: 18px;

    font-size: @body-font-size + 4px;

    &--patronymic {
      margin-bottom: 42px;
    }
  }
}
