.data-person__list {
  list-style: none;
  padding-left: 0;
  padding-right: 0;
}

.data-person__option {
  .font(@font-regular; @font-bold; bold);
  font-size: @body-font-size;
  line-height: 18px;
}

.data-person__input {
  position: relative;

  &--phone {
    top: 5px;
    left: 40px;

    opacity: 0.2;
  }

  &--email {
    top: 12px;
    left: 37px;

    opacity: 0.2;
  }
}
