.filter-type__list {
  list-style: none;
  padding-left: 0;
  padding-right: 0;
}

.filter-type__option {
  .font(@font-regular; @font-bold; bold);
  font-size: @body-font-size;
  line-height: 18px;
}
