.filter-color__list {
  padding-left: 0;
  padding-right: 0;

  list-style: none;
}

.filter-color__option {
  .font(@font-regular; @font-bold; bold);
  font-size: @body-font-size + 2px;
  line-height: 18px;
}

@media (min-width: @tablet-width) {
  .filter-color {
    padding-top: 68px;

    background-color: @footer-background-color;
  }

  .filter-color__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;
  }

  .filter-color__option {
    flex-wrap: wrap;
    min-width: 185px;
    margin: 0;
    margin-bottom: 57px;
    padding-left: 76px;
    padding-right: 0;

    font-size: @body-font-size + 4px;
  }
}
