.filter-color__list {
  padding-left: 0;
  padding-right: 0;

  list-style: none;
}

.filter-color__option {
  margin-left: 60px;
  padding-bottom: 43px;

  .font(@font-regular; @font-bold; bold);
  font-size: @body-font-size + 2px;
  line-height: 18px;

  &--last {
    padding-bottom: 13px;
  }
}

.filter-color__option label {
  position: relative;
  display: block;
}

.filter-color__input {
  &--checkbox + label::before {
    content: "";
    position: absolute;
    top: -60%;
    left: -31%;

    width: 40px;
    height: 40px;

    box-sizing: border-box;
    border: 2px solid black;
    background-color: white;
  }

  &--checkbox:hover + label::before {
    border: 2px solid #62d1ba;
    background-color: #ffffff;
  }

  &--checkbox:active + label::before {
    border: 2px solid #c7c7c7;
    background-color: #ffffff;
  }

  &--checkbox:checked + label::after {
    content: url("../img/icon-tick.svg");
    position: absolute;
    top: -10%;
    left: -29%;

    width: 5px;
    height: 5px;

    background-color: #ffffff;
    background-size: 5px 5px;
  }
}

@media (min-width: @tablet-width) {
  .filter-color {
    padding-top: 66px;

    background-color: @secondary-background-color;
  }

  .filter-color__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;
  }

  .filter-color__option {
    flex-wrap: wrap;
    flex-basis: 185px;
    margin: 0;
    padding-bottom: 57px;
    padding-left: 76px;
    padding-right: 0;

    font-size: @body-font-size + 4px;
  }

  .filter-color__input {
    &--checkbox + label::before {
      top: -95%;
      left: -44%;

      width: 54px;
      height: 52px;
    }

    &--checkbox:checked + label::after {
      left: -38%;
    }

    &--checkbox + label::before,
    &--checkbox:hover + label::before,
    &--checkbox:active + label::before,
    &--checkbox:checked + label::after {
      background-color: #f1f1f1;
    }
  }
}

