.intro {
  &__header {
  position: relative;
  }
  &__title {
    position: absolute;
    top: 50px;
    left: 70px;

    text-align: center;
    line-height: 30px;
  }
}

.intro__links {
  list-style: none;
  padding-left: 0;
  vertical-align: middle;
  a {
    width: 150px;
    margin-left: 30px;

    .font(@font-regular; @font-bold; bold);
    font-size: @body-font-size + 4px;
    line-height: 24px;
    position: absolute;

    color: @intro-link-text-color;
  }
}

.intro__link {
  &:nth-child(1) {
  background-color: @intro-link-background-color-lamp;
  }
  &:nth-child(2) {
  background-color: @intro-link-background-color-lego;
  }
}

// .intro__link {
//   &--lamp {
//   }
//   &--lego {
//   }
// }
