.main-nav__toggle {
  position: relative;
  left: 260px;
  top: 5px;

  border: none;
  background: none;

  cursor: pointer;


  background-image: url(../img/logo-close.svg);
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-size: 21px 20px;
}

// icon-menu-close.svg
// icon-menu-open.svg

.main-nav__list {
  list-style: none;
  margin-left: 30px;
}

.site-list__item a {
  .font(@font-regular; @font-bold; bold);
  font-size: @body-font-size + 2px;
  line-height: 24px;
  vertical-align: middle;

  color: @primary-text-color;
}
