.main-nav {
  width: 320px;
  margin: 0 auto;
}

.main-nav__toggle {
  background-color: #ffffff;
  border: none;

  cursor: pointer;

  &--close {
    content: "";
    position: absolute;
    top: 6%;
    left: 80%;

    background-repeat: no-repeat;
    background-color: #ffffff;
    background-size: 21px 20px;
  }

  &--open {
    content: "";
    position: absolute;
    top: 6%;
    left: 80%;

    display: none;

    background-repeat: no-repeat;
    background-color: #ffffff;
    background-size: 21px 20px;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

@media (min-width: @tablet-width) {
  .main-nav {
    width: auto;
    margin: 0 auto;
  }

  .main-nav__list {
    margin-left: 50px;
    margin-right: 50px;
  }

  .main-nav__toggle {
    display: none;
  }
}
