.main-nav {
  &__toggle {
    position: relative;
    left: 260px;
    top: 5px;

    background-image: url(../img/logo-close.svg);
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-size: 21px 20px;
    border: none;
    background: none;
    cursor: pointer;
  }
  &__list {
    list-style: none;
    margin-left: 30px;
  }
}
