.page-header {
  position: relative;

  padding-top: 22px;
  padding-bottom: 22px;

}

// .page-header__logo {}

.page-header__logo-image svg {
  position: absolute;
  top: 22px;
  left: 115px;

  padding-bottom: 22px;

  // background-image: url(../img/logo-mobile.svg);
  // background-repeat: no-repeat;
  // background-color: #ffffff;
  // background-size: 86px 35px;
}

