.page-header {
  position: relative;
  display: flex;
  padding-top: 22px;
  padding-bottom: 22px;
}

.page-header__logo {
  height: 80px;
}

.page-header__logo-image {
  position: absolute;
  top: 22px;
  left: 115px;
  padding-bottom: 22px;
  width: 86px;
  height: 35px;
}

@media (min-width: @tablet-width) {
  .page-header {
    width: 668px;
    display: flex;
    flex-direction: row;
    height: 90px;
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
  }

  // вставить логотип
  .page-header__logo-image {
    // top: 22px;
    left: 50px;
    // width: 86px;
    // height: 35px;
  }
}

// @media (min-width: @desktop-width) {

// }
