.page-header {
  position: relative;

  display: flex;
  padding-top: 22px;
  padding-bottom: 22px;
}

.page-header__logo {
  height: 80px;
}

.page-header__logo-image {
  position: absolute;
  top: 22px;
  left: 115px;

  width: 86px;
  height: 35px;
  padding-bottom: 22px;
}

@media (min-width: @tablet-width) {
  .page-header {
    position: relative;

    display: flex;
    flex-direction: row;
    width: 668px;
    height: 90px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .page-header__logo {
    display: block;
    width: 372px;
    height: 90px;
    padding-left: 70px;
    padding-right: 70px;

    border: 1px solid #ececec;
  }

  // вставить логотип
  .page-header__logo-image {
    left: 50px;
    // top: 22px;
    // width: 86px;
    // height: 35px;
  }
}

// @media (min-width: @desktop-width) {

// }
