.page-footer__map {
  height: 457px;

  background-image: url(../img/map-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-size: 320px 457px;
}

.page-footer__button {
  margin-top: 40px;
  margin-bottom: 40px;
}

.copyright__link {
  padding-top: 23px;
  padding-bottom: 23px;

  &--icon {
  width: 27px;
  height: 34px;

  background-image: url("../img/htmlacademy.svg");
  background-repeat: no-repeat;
  }
}
