.reviews__item,
.reviews__toggles {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.reviews__title,
.reviews__button {
  margin-left: 30px;
  margin-right: 30px;
}

.reviews__title {
  padding-top: 18px;
  padding-bottom: 2px;

  font-size: @body-font-size + 10px;
  line-height: 30px;
}

.reviews__text {
  font-size: @body-font-size;
  line-height: 30px;

  color: @secondary-text-color;
}

.reviews__author-name {
  margin-top: 27px;
  margin-bottom: 0;

  font-size: @body-font-size + 2px;
  line-height: 24px;
}

.reviews__author-email {
  margin-top: 4px;
  margin-bottom: 2px;

  font-size: @body-font-size + 2px;
  line-height: 30px;
}

.reviews__toggles {
  padding-top: 40px;
  padding-bottom: 46px;
}

.reviews__toggle {
  &--left {
    position: relative;
    left: 34px;

    background-size: 20px 19px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
  }

  &--right {
    position: relative;
    left: 98px;

    background-size: 20px 19px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
  }
}

.reviews__button {
  margin-bottom: 85px;
}

@media (min-width: @tablet-width) {
  .reviews {
    margin-left: 50px;
    margin-right: 50px;
  }

  .reviews__title {
    padding-top: 75px;
    margin-left: 45px;

    font-size: @body-font-size + 28px;
    line-height: 50px;
  }

  .reviews__text {
    font-size: @body-font-size + 2px;
  }

  .reviews__item {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .reviewes__image {
    margin-top: 45px;
    padding-top: 0;
    height: 457px;

    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: 350px 457px;
  }

  .reviews__author-name {
    margin-top: 57px;

    font-size: @body-font-size + 3px;
  }

  .reviews__author-email {
    margin-top: 4px;
  }

  .reviews__toggles {
    position: absolute;

    top: 418.3%;
    left: 60%;
  }

  .reviews__toggle {
    &--left {
      left: 45px;
    }

    &--right {
      left: 68px;
    }
  }

  .reviews__button {
    position: absolute;
    width: 169px;

    top: 376%;
    left: 63.5%;
  }
}
