.site-list__item {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;

  &--magnifier {
    ::before {
      position: absolute;

      display: table;
      width: 20px;
      height: 20px;
      left: -10%;
      top: 50%;

      transform: translateY(-40%);

      content: url("../img/icon-search.svg");

      background-repeat: no-repeat;
      background-size: 20px 19px;

      opacity: 0.2;
    }
  }

  &--basket {
    ::before {
      position: absolute;

      display: table;
      width: 20px;
      height: 20px;
      left: -10%;
      top: 50%;

      transform: translateY(-40%);

      content: url("../img/icon-cart.svg");

      background-repeat: no-repeat;
      background-size: 20px 19px;

      opacity: 0.2;
    }
  }

  &--delivery-hidden {
    display: none;
  }
}

.site-list__link {
  .font(@font-regular; @font-bold; bold);
  font-size: @body-font-size + 2px;
  line-height: 24px;
  vertical-align: middle;

  color: @primary-text-color;
}

@media (min-width: @tablet-width) {
  .site-list {
    width: 668px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .site-list__item {
    padding-bottom: 0;

    &--catalog {
      order: 3;
      margin-left: 190px;
    }

    &--form {
      order: 4;
    }

    &--magnifier {
      order: 1;

      left: 40%;

      transform: translateY(7%);
    }

    &--basket {
      order: 2;
      display: flex;

      ::after {
        content: "Бесплатная доставка по России";
        position: relative;
        display: table;
        width: 330px;

        // transform: translateY(220%);

        .font(@font-regular);
        font-size: @body-font-size;
        line-height: 24px;

        color: @secondary-text-color;
      }
    }

    &--delivery-hidden {
      display: flex;
      order: 5;
    }
  }

  .site-list__link {
    &--search-hidden {
      color: transparent;
      position: absolute;
      left: 50%;
      top: 50%;

      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      border: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    width: 1050px;
  }
}
