.site-list__item {
  position: relative;

  padding-top: 30px;
  padding-bottom: 30px;

  &--magnifier {
    ::before {
      content: url("../img/icon-search.svg");
      position: absolute;
      left: -10%;
      top: 50%;

      display: table;
      width: 20px;
      height: 20px;

      background-repeat: no-repeat;
      background-size: 20px 19px;
      opacity: 0.2;

      transform: translateY(-40%);
    }
  }

  &--basket {
    ::before {
      content: url("../img/icon-cart.svg");
      position: absolute;
      left: -10%;
      top: 50%;

      display: table;
      width: 20px;
      height: 20px;

      background-repeat: no-repeat;
      background-size: 20px 19px;
      opacity: 0.2;

      transform: translateY(-40%);
    }
  }

  &--delivery-hidden {
    display: none;
  }
}

.site-list__link {
  .font(@font-regular; @font-bold; bold);
  font-size: @body-font-size + 2px;
  line-height: 24px;
  vertical-align: middle;
  color: @primary-text-color;
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 668px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .site-list__wrapper-left {
    display: flex;
    justify-content: space-between;
    width: 335px;
  }

  .site-list__wrapper-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .site-list__item {
    padding-bottom: 0;

    &--delivery-hidden {
      display: flex;
    }
  }

  .site-list__link {
    &--search-hidden {
      position: absolute;
      left: 0;
      top: 0;

      // display: block;
      width: 85px;
      height:  90px;
      margin: 0;
      padding: 0;

      color: transparent;

      border: 1px solid #ececec;
    }
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    width: 1050px;
  }
}
