.social {
  padding-top: 25px;

  background-color: @secondary-background-color;
}

.social__list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 30px;

  list-style: none;
}

.social__link {
  position: relative;

  display: block;
  width: 35px;
  height: 37px;

  background-repeat: no-repeat;

  &--instagram {
    &::before {
      content: url("../img/icon-insta.svg");
      position: absolute;
      left: 133%;
      top: -30%;

      display: table;
      width: 35px;
      height: 37px;

      background-size: 22px 21px;
    }
  }

  &--facebook {
    &::before {
      content: url("../img/icon-fb.svg");
      position: absolute;
      left: 214%;
      top: -47%;

      display: table;
      width: 35px;
      height: 37px;

      background-size: 15px 28px;
    }
  }

  &--twitter {
    &::before {
      content: url("../img/icon-twitter.svg");
      position: absolute;
      left: 270%;
      top: -30%;

      display: table;
      width: 35px;
      height: 37px;

      background-size: 23px 20px;
    }
  }
}

@media (min-width: @tablet-width) {
  .social__list {
    width: 200px;
    margin: 0 auto;
    padding-top: 50px;
    padding-left: 0;
    padding-right: 3px;
  }
}
