.video {
  padding-left: 30px;
  padding-right: 30px;
}

.video__title {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 70px;
  width: 100px;

  font-size: @body-font-size + 2px;
  line-height: 24px;
}

.video__title--camera {
  background-image: url("../img/icon-video.svg");
  background-repeat: no-repeat;
  background-size: 46px 36px;
  background-position: 0;
}

.video__player {
  display: none;
}

// Не получается спозиционировать иконку поверх изображения
// .video__player--image {
//   position: relative;
//   z-index: 1;
// }

.video__player--icon {
  // position: relative;
  // z-index: 2;

  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  background-size: 101px 77px;
  background-position: 40px;
}

.video__description,
.video__button {
  margin-left: 36px;
  margin-right: 36px;
}

.video__description {
  margin-top: 0;
  margin-bottom: 0;
}

.video__button {
  width: 190px;
  margin-top: 30px;
  margin-bottom: 95px;
}
