.video {
  padding-left: 30px;
  padding-right: 30px;
}

.video__title {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 22px;
  padding-bottom: 24px;
  padding-left: 90px;
  width: 100px;

  font-size: @body-font-size + 2px;
  line-height: 24px;
}

.video__icon {
  position: relative;

  &--camera {
    ::before {
      position: absolute;
      content: url("../img/icon-video.svg");

      display: table;
      width: 50px;
      height: 40px;
      right: 67%;

      transform: translateY(-170%);

      background-repeat: no-repeat;
      background-size: 46px 36px;
    }
  }
}

.video__player {
  display: none;
}

.video__image {
  position: relative;

  &--play {
    ::before {
      position: absolute;
      content: url("../img/icon-play.svg");

      display: table;
      width: 50px;
      height: 40px;
      right: 50%;

      transform: translateY(45%);

      background-repeat: no-repeat;
      background-size: 101px 77px;
    }
  }
}

.video__description,
.video__button {
  margin-left: 36px;
  margin-right: 36px;
}

.video__description {
  margin-top: 20px;
  margin-bottom: 0;

  font-size: @body-font-size - 2px;
  line-height: 24px;

  color: @secondary-text-color;
}

.video__button {
  width: 188px;
  height: 48px;

  margin-top: 26px;
  margin-bottom: 92px;
}
