@font-face {
  font-family: "opensans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "opensans";
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-weight: bold;
}

body {
  font-family: "opensans", "Arial", sans-serif;
  font-size: @body-font-size;
  line-height: 21px;

  background-color: @body-background;

  margin: 0 auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: @mobile-width;
  margin: 0 auto;

  background-color: @container-background;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 257px;
  height: 48px;

  font-size: @body-font-size + 3px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: @secondary-text-color;

  border: 2px solid @button-border-color;

  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

@media (min-width: @tablet-width) {
  .container {
    width: 768px;
  }

  .button {
    font-size: @body-font-size + 2px;
  }
}

@media (min-width: @desktop-width) {
  .container {
    width: 1250px;
  }
}
