
@font-face {
  .font(@font-regular);
}
@font-face {
  .font(@font-regular; @font-bold; bold);
}

body {
  font-family: @font-regular, "Arial", sans-serif;
  font-size: @body-font-size;
  line-height: 21px;

  background-color: @body-background;
}

a {
  text-decoration: none;
}

.container {
  width: @width;
  margin: 0 auto;

  background-color: @container-background;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 52px;
  margin-left: 30px;

  .font(@font-regular; @font-bold; bold);
  font-size: @body-font-size + 2px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  border: 2px solid @button-border-color;
  color: @secondary-text-color;
  cursor: pointer;
}

input[type="submit"] {
  background-color: @container-background;
}

// .visually-hidden {
//   position: absolute;
//   overflow: hidden;
//   clip: rect(0 0 0 0);

//   width: 1px;
//   height: 1px;
//   margin: -1px;
//   padding: 0;
//   border: 0;
// }
