@font-regular: "opensans";
@font-bold: "@{font-regular}bold";
@fonts: "../fonts";

@container-background: #ffffff;
@body-background: #ffffd2;
@body-font-size: 15px;
@width: 320px;

@primary-text-color: #000000;
@secondary-text-color: #444444;
@mint-text-color: #63d1bb;

@button-border-color: #000000;

@button-background-color: #63d1bb;
@button-text-color: #ffffff;

@intro-link-text-color: #ffffff;
@intro-link-background-color-lamp: #63d1bb;
@intro-link-background-color-lego: #56c3b2;

@footer-background-color: #f1f1f1;




