@container-background: #ffffff;
@body-background: #ffffff;
@secondary-background-color: #f1f1f1;
@body-font-size: 15px;
@primary-text-color: #000000;
@secondary-text-color: #444444;
@mint-text-color: #63d1bb;
@button-border-color: #444444;
@button-background-color: #63d1bb;
@button-text-color: #ffffff;
@button-form-background-color: #ffffff;
@intro-link-text-color: #ffffff;
@intro-link-background-color-lamp: #63d1bb;
@intro-link-background-color-lego: #56c3b2;

@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1150px;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
